name: release
on:
  push:
    branches: [ master ]

jobs:
  release:
    runs-on: windows-latest
    steps:
    
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Set Version
        id: set_version
        run: |
          .\tsv.exe --xml-files SelfUpdatingConsole\SelfUpdatingConsole.csproj SelfUpdatingWinForms\SelfUpdatingWinForms.csproj --set-ov

     
      - name: Build
        run: |
          dotnet publish SelfUpdatingConsole\SelfUpdatingConsole.csproj -r win-x64 -p:PublishSingleFile=true --no-self-contained -c release -o .
          dotnet publish SelfUpdatingConsole\SelfUpdatingConsole.csproj -r linux-x64 -p:PublishSingleFile=true --no-self-contained -c release -o .
          dotnet publish SelfUpdatingWinForms\SelfUpdatingWinForms.csproj -r win-x64 -p:PublishSingleFile=true --no-self-contained -c release -o .
          dotnet pack SelfUpdatingConsole\SelfUpdatingConsole.csproj -c release -o .
          dotnet pack SelfUpdatingWinForms\SelfUpdatingWinForms.csproj -c release -o .
          dotnet nuget push "*.nupkg" --skip-duplicate -k ${{secrets.NUGET_KEY}} -s https://api.nuget.org/v3/index.json


      - name: Tag and Release
        uses: jasondavis303/tag-and-release-and-upload@v1.4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: v${{ steps.set_version.outputs.TIMESTAMP_VERSION }}          
          assets: '[ "suac.exe", "suac", "suag.exe" ]'
          overwrite: true
