name: release
on:
  push:
    branches: [ master ]

jobs:
  release:
    runs-on: windows-latest
    steps:
    
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Set Version
        id: set_version
        run: |
          Invoke-WebRequest -Uri https://github.com/jasondavis303/TimestampVersion/releases/latest/download/tsv.exe -OutFile tsv.exe
          .\tsv.exe --xml-files SelfUpdatingConsole\SelfUpdatingConsole.csproj SelfUpdatingConsoleLib\SelfUpdatingConsoleLib.csproj SelfUpdatingWinForms\SelfUpdatingWinFormsLib.csproj SelfUpdatingWinForms\SelfUpdatingWinFormsLib.csproj --set-ov --verbose

     
      - name: Build
        run: |
          dotnet publish SelfUpdatingConsole\SelfUpdatingConsole.csproj -r win-x64 -p:PublishSingleFile=true --no-self-contained -c release -o publish
          dotnet publish SelfUpdatingConsole\SelfUpdatingConsole.csproj -r linux-x64 -p:PublishSingleFile=true --no-self-contained -c release -o publish
          dotnet publish SelfUpdatingWinForms\SelfUpdatingWinForms.csproj -r win-x64 -p:PublishSingleFile=true --no-self-contained -c release -o publish
          dotnet pack SelfUpdatingConsoleLib\SelfUpdatingConsoleLib.csproj -c release -o nuget
          dotnet pack SelfUpdatingWinFormsLib\SelfUpdatingWinFormsLib.csproj -c release -o nuget
          dotnet nuget push "nuget\*.nupkg" --skip-duplicate -k ${{secrets.NUGET_KEY}} -s https://api.nuget.org/v3/index.json
          Invoke-WebRequest -Uri https://github.com/jasondavis303/s3u/releases/latest/download/s3u.exe -OutFile s3u.exe
          .\s3u.exe --endpoint ${{ secrets.S3_ENDPOINT }} --access-key ${{ secrets.S3_KEY_ID }} --access-secret ${{ secrets.S3_SECRET }} --source publish --bucket ${{ secrets.S3_BUCKET }} --target suadepo/bin --overwrite --verbose


      - name: Tag and Release
        run: |
          Invoke-WebRequest -Uri https://github.com/jasondavis303/TagAndRelease/releases/latest/download/tar.exe -OutFile tar.exe
          .\tar.exe --owner jasondavis303 --repo-name SelfUpdatingApps --github-token ${{ secrets.GITHUB_TOKEN }} --set-version ${{ steps.set_version.outputs.TIMESTAMP_VERSION }} --assets publish\suac publish\suac.exe publish\suag.exe --verbose

